# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these users will be requested for review when someone 
# opens a pull request.
*       @aliakbar @ashkan-deriv @review-deriv

# Automatically assign review-deriv to review all PRs
/.github/workflows/     @review-deriv
/src/          @review-deriv
/public/       @review-deriv